AirPort.networkConnect
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
dragon/
drg/
Dropbox/*
VirtualBox VMs/*
Applications/
Yandex.Disk.localized/*
screenlog.3
*/*.pyc

.*
!.vim*
!.vim/*
!.gitignore
!.bashrc
!.zshrc
!.ctags
!.htoprc
!.netrc
!.screenrc
!.tmux.conf
.viminfo
.vimpdbrc
.vimperator/
.vimrc_console
.vim-fuf-data/
.vimprojects_tags/
.vim/view
.vim/undo
.vim/backup
.vim/bac
.vim/swp
.VimballRecord
